<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CC_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CC_Helper.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value />
            </setting>
            <setting name="Destination" serializeAs="String">
                <value />
            </setting>
            <setting name="Minecraft" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitOnCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnEntry" serializeAs="String">
                <value />
            </setting>
            <setting name="World" serializeAs="String">
                <value />
            </setting>
            <setting name="Comp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendKeys" serializeAs="String">
                <value>JournalHook</value>
            </setting>
        </CC_Helper.Properties.Settings>
    </userSettings>
</configuration>